* {
  box-sizing: border-box;
}

.box {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  position: relative;
}

.item {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  animation: itemChange 3s infinite;
  /* animation: mymove 5s infinite; */
}

@keyframes itemChange {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 570px;
  }
  50% {
    top: 570px;
    left: 570px;
  }
  75% {
    top: 570px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
