* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
}
body {
  background-color: rgb(246, 245, 244);
}

.form {
  width: 400px;
  height: auto;
  margin: 100px auto 0;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  padding: 40px 28px;
}

h2 {
  margin-bottom: 32px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
.btn-submit {
  width: 100%;
  padding: 8px 16px;
}

.btn-submit {
  margin-top: 12px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid blue;
  transition: all ease 0.3s;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.btn-submit:hover {
  background-color: rgba(0, 0, 255, 0.6);
}
