* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-cart {
  width: 600px;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 24px 12px;
  border-radius: 8px;
  border: 1px solid bisque;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 100px auto 0;
}

.cart-item {
  text-align: center;
  margin: 6px;
  background-color: bisque;
  border-radius: 4px;
  border: 1px solid rgb(159, 113, 58);
}

.strong {
  font-weight: 900;
  padding: 12px 0;
}

.with-2 {
}
